<div class="jcr-content">
  <div class="container text-center">
    <div class="card d-inline-block jcr-border-color p-4 text-left">
      <h1 class="h3 mb-4">Admin Login</h1>
      <p>
        Please contact
        <a href="mailto:sibolibb@oregonstate.edu?&cc=farshida@oregonstate.edu&subject=Admin%20Access&body=I%20would%20like%20admin%20access%20to%20Jacarandas%20Music%20Academy.">Jacarandas Music Academy</a>
        if you need admin access.
      </p>
      {{> form-login action="/admin/login" alert=alert redirect=redirect}}
    </div>
  </div>
</div>
