<div class="jcr-content">
  <div class="container">
    <h1 class="h3 mb-4">Add New Avatar</h1>
    {{> form-avatar action="/admin/avatars/new" avatar=avatar alert=alert button="Save"}}
  </div>
</div>
