<div class="jcr-content jcr-content--home">
  <div class="container">
    <p>
      Music makes the world go around, but do you actually know what it is?
      It’s one thing to say you enjoy music because you like listening to a lot of songs.
      It’s a whole different thing to really understand that music.
    </p>
    <p>
      If you love music and don’t know music theory, you’re doing yourself a great disservice.
      The more you understand the basics, the more you will appreciate your favorite songs and artists.
      It’s like understanding the meaning of songs. Do yourself a favor and use one of these great sites
      to learn a little bit more about what makes music what it is.
    </p>
    {{#if signedOut}}
      <p class="text-center">
        <a class="btn btn-primary jcr-btn jcr-btn--primary" href="/register">
          Register
        </a>
      </p>
    {{else}}
      <p class="text-center">
        <a class="btn btn-primary jcr-btn jcr-btn--primary" href="/dashboard">
          My Dashboard
        </a>
      </p>
    {{/if}}
  </div>
</div>
