<div class="jcr-content">
  <div class="container text-center">
    <div class="card d-inline-block p-4 text-left">
      <h1 class="h3 mb-4">Student Login</h1>
      <p>
        Please contact
        <a href="mailto:sibolibb@oregonstate.edu?&cc=farshida@oregonstate.edu&subject=Login%20Help">
          Jacarandas Music Academy
        </a>
        if you need help signing in.
      </p>
      {{> form-login action="/login" alert=alert redirect=redirect}}
    </div>
  </div>
</div>
