<div class="jcr-content">
  <div class="container text-center">
    <div class="card d-inline-block p-4 text-left">
      <h1 class="h3 mb-4">Register</h1>
      {{> form-profile action="/register" alert=alert avatars=avatars button="Submit" captcha=captcha student=student}}
    </div>
  </div>
</div>
